 ### 1. Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

##### We have:
- T(n) = 3T(n-1) + 12n
- T(2) = 3T(1) + 12*2
- T(1) = 3T(0) + 12*1

##### Substututing the value of T(1) in T(2) and T(0) as 5:
##### we get:
- T(2) = 3(3T(0) + 12*1) + 12*2
- T(2) = 3(15 + 12) + 24
- T(2) = 3(27) + 24
- T(2) = 81 + 24
- T(2) = 105

### 2. Given a recurrence relation, solve it using the substitution method:

#### a. T(n) = T(n-1) + c

##### We have:
- T(n) = T(n-1) + c
- T(n-1) = T(n-2) + c

##### Substututing the value of T(n-1) in T(n):
##### We get:
- T(n) = T(n-2) + 2c
##### Similarly if we go on doing the process till k times, we get:
- T(n) = T(n-k) + kc
##### Considering 1 to be base case:
- n-k = 1
- k= n-1
##### Substuting the value of k in T(n):
- T(n) = T(n-(n-1)) + (n-1)c
- T(n) = T(1) + (n-1)c
- T(n) = O(n)

#### b. T(n) = 2T(n/2) + n

##### We have:
- T(n) = 2T(n/2) + n
- T(n/2) = 2T(n/4) + n/2

##### Substututing the value of T(n/2) in T(n):
##### We get:
- T(n) = 2(2T(n/4) + n/2) + n
- T(n) = 4T(n/4) + 2n
##### Similarly if we go on doing the process till k times, we get:
- T(n) = 2^kT(n/2^k) + kn
##### Considering 1 to be base case:
- n/2^k = 1
- k= log2(n)
##### Substuting the value of k in T(n):
- T(n) = 2^log2(n)*T(n/2^(log2(n))) + log2(n)*n
- T(n) = n*T(1) + nlog2(n)
- T(n) = O(nlog2(n))

#### c. T(n) = 2T(n/2) + c

##### We have:
- T(n) = 2T(n/2) + c
- T(n/2) = 2T(n/4) + c

##### Substututing the value of T(n/2) in T(n):
##### We get:
- T(n) = 2(2T(n/4) + c) + c
- T(n) = 4T(n/4) + 2c + c
##### Similarly if we go on doing the process till k times, we get:
- T(n) = 2^kT(n/2^k) + 2^(k-1) * c + .... + 4c + 2c + c
##### Considering 1 to be base case:
- n/2^k = 1
- k= log2(n)
##### Substuting the value of k in T(n):
- T(n) = 2^log2(n)*T(n/2^(log2(n))) + 2^(log2(n)-1)* c+.....4c + 2c + c
- T(n) = n*T(1) + c(2^(log2(n)-1)+ ....+ 8 + 4 + 2 + 1)
- T(n) = nT(1)+ c(sum of gp =Sn = 1(2^(log2(n)-1) - 1) / (2 - 1) )
- T(n) = nT(1)+ c(n/2)

- T(n) = O(n)

#### d. T(n) = T(n/2) + c

##### We have:
- T(n) = T(n/2) + c
- T(n/2) = T(n/4) + c

##### Substututing the value of T(n/2) in T(n):
##### We get:
- T(n) = (T(n/4) + c) + c
- T(n) = T(n/4) + 2c
##### Similarly if we go on doing the process till k times, we get:
- T(n) = T(n/2^k) + kc
##### Considering 1 to be base case:
- n/2^k = 1
- k= log2(n)
##### Substuting the value of k in T(n):
- T(n) = T(n/2^(log2(n))) + log2(n)c
- T(n) = T(1) + log2(n)c

- T(n) = O(log2(n))

### 3. Given a recurrence relation, solve it using the recursive tree approach:

#### a. T(n) = 2T(n-1) +1

##### lets solve this qn using recursive tree:
##### Here is how the tree would look:
                       T(n)
                      /    \
                T(n-1)     T(n-1)
                /   \       /    \
           T(n-2)  T(n-2) T(n-2)  T(n-2)
             .       .      .       .
             .       .      .       .
             .       .      .       .
        T(1)  T(1)  T(1)   T(1)
##### The total number of operations is the sum of 2^i for i from 0 to n-1 (the height of the tree).
- T(n)=1 + 2 + 4 +....+ 2^(n−1)

##### This is a geometric series, and its sum can be expressed as:
- T(n)=2^n −1
- T(n)= O(2^n)

### b. T(n) = 2T(n/2) + n

##### lets solve this qn using recursive tree:
##### Here is how the tree would look:
                      T(n)
                   /         \
           T(n/2) + n        T(n/2) + n
           /          \       /          \
 T(n/4) + n   T(n/4) + n   T(n/4) + n    T(n/4) + n
     .            .           .             .
     .            .           .             .
     .            .           .             .
   T(1) + n     T(1) + n     T(1) + n     T(1) + n

##### The total number of operations is the sum of 2^i for i from 0 to n-1 (the height of the tree).
- T(n)=n⋅(log2(n)+1)

- T(n)= O(n⋅log2(n))